:root {
    --color-blue: #0080ff;
    --color-blue-nav: #0074e9;
    --color-blue-navy: rgb(1, 80, 144);
    --color-red: #d82929;
    --color-green: #14be3b;
    --color-orange: #ff902b;
    --color-purple: #743ad5;
    --color-gray: #656565;
    --color-lightgray: #7e7e7e;
  }